# Python-specific files
__pycache__/
*.py[cod]

# Environment variables file
.env

# Log files
*.log

# Local database or Python files (if you don't want to track these)
db2.py
db.py
app.py
add_pictures.py
src/ai.py
src/query_processor.py
src/test.ipynb
src/utils.py

# Images directory
homeimages/

# Virtual environment
real/

#txt files
src/prompt.txt
src/descriptions.txt
src/notes.txt

#test outputs
profile_stats.txt
profile_data.prof
debug_output.txt