# Python-specific files
__pycache__/
*.py[cod]

# Environment variables file
.env

# Log files
*.log

# Local database or Python files (if you don't want to track these)
db2.py
db.py
app.py
add_pictures.py

# Images directory
homeimages/
